.largeCardContainer{
  
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    max-width: 1100px;
    width: 100%;
    background-color: var(--color-bggrey);
   
}

.largeCardWrapper{
    border-radius: 10px;
    padding-top: 10px;
    width: 90%;
    height: 200px;
    display: flex;
    background-color: white;
    border-bottom: 1px solid #cbd3d8ad;
    justify-content: flex-start;
    align-items: center;
   
}
.largeCardWrapper{
    margin-top: 0.2rem;
}



.largeCardImage img{
   height: 200px;
   width: 220px;
}
.largeCardContent{
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5rem 0.75rem;
    flex-wrap: wrap;
    margin-left: 10px;
}

.largeCardTitle h3
{
    font-family: 'Inter';
    margin: 5px 0;
}

.largeCardSmallDesc{
    font-family: 'Inter';
    margin: 10px 0;
}

.largeCardDesc{
    font-family: 'Inter';
    font-size: 0.8rem;
}

.largeCardPrice p{
    font-family: 'Inter';
    font-weight: bold;
    font-size: 1.3rem;
    
}
.largeCardPrice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.cartButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.addCart
{
    background-color: green;
    padding: 0.7rem 2rem;
    color: #fff;
    font-family: 'Inter';
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
}
.addCart:hover{
    background-color: rgb(0, 90, 0);
    cursor: pointer;
    
    transform: scale(1.025);
}
.addCart:hover .cartIcon{
    color: var(--color-primary)
}
.cartIcon{
    margin: 0 0.2rem;
    height: 18px;
    width: 18px;
}
.removeCart{
    background-color: rgb(213, 0, 0);
    padding: 0.7rem 1.7rem;
    color: #fff;
    font-family: 'Inter';
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
}
.removeCart:hover{
    background-color: rgb(174, 0, 0);
    cursor: pointer;
    
    transform: scale(1.025);
}
.removeCart:hover .cartIcon{
    color: var(--color-secondary)
}
.largeCardPriceForSmallScreens
{
    display:none;
}

@media screen and (max-width: 1000px)
{   
    .largeCardContainer{
        width: 100%;
    }
    .largeCardImage img{
        height: 180px;
        width: 200px;
     }
     .largeCardWrapper{
         height: 180px;
     }
     .largeCardTitle {
         font-size: 0.9rem;
     }
     .largeCardSmallDesc{
        
        margin: 5px 0;
        font-size: 0.75rem;
        font-weight: 500;
    }
    
    .largeCardDesc{
        font-family: 'Inter';
        font-size: 0.7rem;
    }
    .largeCardPrice p{
        font-size: 1rem;
    }

}

@media screen and (max-width: 768px)
{
    .largeCardContainer{
        width:100%;
    }
    .cartButton button{
        padding: 0.5rem 1.25rem;
        font-size: 0.7rem;
    }
    .largeCardImage img{
        height: 110px;
        width: 110px;
    }
}

@media screen and (max-width: 650px)
{
    .largeCardContainer{
        width: 100%;
        background-color: var(--color-bggrey);
    }
    .largeCardDesc{
        display: none;
    }
    .largeCardImage img{
        height: 100px;
        width: 100px;
    }
    .largeCardTitle{
        font-size: 0.7rem;
    }
    .largeCardSmallDesc{
        font-size: 0.7rem;
    }
    .largeCardWrapper{
        height: 140px;
    }
    .cartButton button{
        padding: 0.4rem 1rem;
        font-size: 0.6rem;
    }
    .cartIcon{
        margin: 0 0.2rem;
        height: 14px;
        width: 14px;
    }
    .largeCardPriceForSmallScreens{
        display: flex;
    }
    .cartButton{
        display: none;
    }
    .cartIconSmallPlus{
        height: 1.3em;
        width: 1.3em;
        background-color: green;
        color: white;
        padding: 0.4rem;
        border-radius: 50%;
    }
    .cartIconSmallMinus{
        height: 1.3em;
        width: 1.3em;
        background-color: red;
        color: white;
        padding: 0.4rem;
        border-radius: 50%;
    }
   
    
}