.select-order-shop-container{
    border: 1px solid black;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px #7e7e7e68;
    border: none;
}
.add-to-cart{
    padding: 10px 20px;
    border: 1px solid var(--color-primary) ;
    margin-top: 40px;
    font-size: 15px;
    font-family: 'Inter';
    font-weight: 600;
    background-color: white;
    color: var(--color-primary);
    cursor: pointer;
    width: 160px;
     transform: scale(1, 1);
    transition: all 0.5s ease;
    border-radius: 5px;
  }

  .add-to-cart:hover{
  
    background-color: var(--color-primary) ;
    color: white;
  }

  .go-to-cart{
    padding: 10px 20px;
    border: 1px solid rgb(11, 163, 11);;
    margin-top: 40px;
    font-size: 15px;
    font-family: 'Inter';
    font-weight: 600;
    background-color: white;
    color:white;
    cursor: pointer;
    width: 160px;
     transform: scale(1, 1);
    transition: all 0.5s ease;
    border-radius: 5px;
    background-color: rgb(11, 163, 11);
  }

  .go-to-cart:hover{
    background-color: rgb(2, 84, 2);
    
  }

.select-order-shop-wrapper{
    display: flex;
    flex-direction: column;
}


.shop-order-panda{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shop-order-price{
    margin: 0.2rem 1rem;
    font-size: 18px;
}
.shop-order-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.25rem 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}
.shop-order-container:last-child{
    border: none;
}
.shop-order-details{
    font-family: 'Inter';
    font-size: 17px;
    margin: 0 .5rem;
}

.shop-order-title{
    font-weight: bold;
    margin: 1rem;
    font-size: 20px;
}
.shop-order-address{
    font-size: 15px;
    margin: 1rem;
}

.available{
    color: green;
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    /* background-color: green; */
}

.unavailable{
    color: rgb(108, 108, 108);
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    padding: 0.3rem 1rem;
    border-radius: 5px;
}

@media screen and (max-width:768px)
{
    .select-order-shop-container{
        width: 80%;
      
    }
}

@media screen and (max-width: 650px)
{
    .add-to-cart{
        
        font-size: 25px;
        border-radius: 5px;
        width: fit-content;
        border: none;
        
    }
    .add-to-cart span{
        display: none;
    }
    .shop-order-container{
        margin: 0 1rem;

    }
    .shop-order-title{
        font-size: 15px;
      }
      .shop-order-address{
        font-size: 10px;
      }
      .shop-order-container{
        align-items: center;
      }
      .shop-order-price{
        margin: 0.2rem 1rem;
        font-size: 16px;
    }
    .available{
        font-size: 16px;
    }
    .unavailable{
        font-size: 16px;
    }
}