.order-cards-container{
    background-color: white;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: .5rem 2rem;
   
    border-radius: 5px;
    box-shadow: 0 0px 3px 2px rgba(0, 0, 0, 0.305);
}

.order-cards-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
}

.card-image-wrapper img{
    height: 200px;
    width: 200px;
}

.card-content
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Inter';


}

.card-title{
    font-family: 'Inter';
    
}
.order-card-description {
    font-size: 12px;
}
.card-price{
    margin: 1rem 0;
    font-weight:bold;
    font-size: 20px;

}
.card-order-details{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  
    
}

.card-shipping-status{
    margin-right: 2rem;
}

.card-order-date{
    margin-right: 2rem;
}

.card-order-again{
    margin-left: auto;
    
}

.card-order-again button{
    padding: 0.6rem 2rem;
    border: none;
    background-color: var(--color-primary);
    color: white;
    font-family: 'Inter';
    font-weight: bold;
    border-radius: 5px;
    transition: all .2s ease;
    cursor: pointer;
}

.card-order-again button:hover{
    background-color: rgb(169, 99, 8);
    transform: scale(1.025);
}

@media screen and (max-width:768px)
{
    .card-quantity{
        font-size: 15px;
    }
    .card-shipping-status{
        margin-right: 1rem;
        font-size: 13px;
    }
    
    .card-order-date{
        margin-right: 1rem;
        font-size: 13px;
    }
    
    .card-order-again{
        margin-left: auto;
        
    }
    
    .card-order-again button{
        padding: 0.6rem 2rem;
        border: none;
        background-color: var(--color-primary);
        color: white;
        font-family: 'Inter';
        font-weight: bold;
        border-radius: 5px;
        transition: all .2s ease;
        cursor: pointer;
    }

}

@media screen and (max-width:650px)
{
    .card-image-wrapper img{
        height: 130px;
        width: 130px
    }
    .card-shipping-status{
        margin-right: 1rem;
        font-size: 12px;
    }
    .card-order-details{
        width: 50%;
        
    }
    
    .card-order-date{
        margin-right: 1rem;
        font-size: 12px;
    }
    
    .card-order-again{
        margin-left: auto;
    }
    .card-quantity{
        font-size: 12px;
    }
    .card-price{
        font-size: 16px;
    }
    .card-description{
        font-size: 15px;
    }
    .card-order-again button{
        padding: 0.5rem 1rem;
        font-size: 12px;
    }
    .order-cards-container{
        width: 90%;
    }
}