.relevant-medicine h2{
   color: rgb(63, 63, 63);
   margin: 2rem;
}

.sort-by{
    display: flex;
    justify-items: center;
    align-items: center;
     background-color: var(--color-bggrey);
    
}
.sort-by p{
    font-family: 'Inter';
    font-weight: 500;
    margin-left: 2rem;
}
select{
    padding: 0.5rem;
    margin: 15px;
    border: none;
    border-radius: 5px;
    font-family: 'Inter';
    font-size: 0.9rem;
}
.product-list{
    padding-bottom: 1rem;
  
}


.product-list-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 1rem;
}

.product-list-container{
    background-color: var(--color-bggrey);
    padding-bottom: 4rem;
}

@media screen and (max-width: 768px)
{
    .product-list-header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    
}
@media screen and (max-width:650px) {
    .product-list-container{
        width: 90%;
        margin-top: 10px;
    }
    .sort-by p{
        font-family: 'Inter';
        font-weight: 500;
        margin-left: 1rem;
        font-size: 0.8rem;
    }
    select{
       
        font-size: 0.8rem;
    }
    .relevant-medicine h2{
        color: rgb(63, 63, 63);
        margin: 1rem;
        font-size: 1.1rem;
     }
}