.shopowner-notification-container{
    width: 1100px;
    
    height: max-content;
    background-color: var(--color-bggrey);
    padding-bottom: 4rem;
    margin: 0;
}

.shopowner-order-notification h3{
    margin: 1rem;
}

.shopowner-notification-wrapper{
 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: auto;
   
}

.shopowner-notification-container h1{
    font-family: 'Gilroy-Bold';
    margin: 1rem;
}

.shopowner-pres-notification h3{
    margin: 1rem;
}
@media screen and (max-width: 768px)
{
    .shopowner-notification-container{
        width: 600px;
    }
}

@media screen and (max-width: 650px)
{
    .shopowner-notification-container{
        width: 400px;
    }
}