
.location-container{
  
    width: fit-content;
    height: fit-content;
    margin: 1rem;
   
}

.location-name
{
    display:flex;   
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.select-location{
    padding: 0.3rem 2rem;
    font-family: 'Inter';
}

.select-location-option{
    border-radius: 5px;
    font-family: 'Inter';
    padding: 2rem;

}

@media screen and (max-width: 1000px)
{
    .location-text{
        font-size: 0.8rem;
    }
    .location-container{
        width: 100%;
       
    }
}

@media screen and (max-width: 768px)
{
    
    
    .location-name{
        width: 100%;
    }
    .location-container{
        width: 100%;
    }
}

@media screen and (max-width:650px)
{
    .location-container{
       
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
        border-radius: 10px;
        padding: 0.2rem 0;
    }
    .location-name{
        width: 100%;

    }
   
   .icon{
       height: 1.2rem;
       width:1.2rem;
   }
}