@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
.heading{
  font-family: sans-serif;
  text-align: left;
  padding-left: 20%;
  padding-top: 10%;
}
.hello{
  font-family:'Gilroy-Bold', sans-serif; 
  font-size: 1rem;
}
.aa {
  font-family: sans-serif;
  width: 200px;
  height: 100px;
  margin-bottom: 10%;

}
.img {
    padding-right: 20%;
    padding-left: 10%;
    width: 140px;
    margin-right: 10%;
    margin-bottom: 5%;
}
.button{
  background-color: var(--color-primary);
  background-color: yellow;
  border: white;
  margin-bottom:40px;
  font-family:sans-serif ;
  width: 80px;
  height: 30px;
  border: 2px ;
  border-radius: 8px;
}

