header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid black;
  color: black;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.navList {
  display: flex;
}

.navPills {
  margin: 1em;
}

.brandName {
  font: 1em sans-serif;
}
