.orders-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1100px;
    
    width: 100%;
    background-color: var(--color-bggrey);
    padding: 1rem 0;
    padding-bottom: 5rem;
}

.orders-heading{
    text-align: left;
    width: 100%;
    font-family: 'Gilroy-Bold';
    margin-left: 3rem;
   
}

.orders-wrapper{
    width: 100%;
}
.orders-subheading
{
    width: 100%;
    text-align: left;
    margin-left: 3.5rem;
}

@media screen and (max-width: 650px)
{
    .orders-container{
        width: 95%;
        padding: 0;
        padding-bottom: 3rem;
    }
    .orders-heading{
        margin: 0;
        padding-left: 1rem;
     
    }
    .orders-subheading{
        margin: 0;
        padding-left: 1rem;
    }
}