@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

.h1 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 55px;
    padding-left: 4rem;
}

.h2 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 2rem;
    padding-left: 4rem;
}

.p {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    padding-left: 4rem;
    text-align: left;
}

.aboutContainer {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}