
.main-nav{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    width: 100%;
}
.logo{
    margin-right: 15rem;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 1.5rem;
}
.logo a{
   text-decoration: none;
   color:inherit;
}

.menu-link
{
    display:flex;

}
.menu-link ul{
    display:flex;
    padding:0 3rem;
    text-decoration: none;
}
.menu-link ul li{
    padding:0 1.75rem;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    transition: all .2s ease-in-out;
}
.menu-link ul li:hover{
    color: var(--color-primary);
    transform: scale(1.1);
}
.menu-link ul li a{
    
    text-decoration: none;
    color:inherit;
}


.auth{
    font-size: 1.1rem;
    font-family: 'Inter', sans-serif;
    cursor:pointer;
    transition: all .2s ease-in-out;
}

.auth span:hover{
   color:var(--color-primary);
   transform: scale(1.1);
}
.auth-btn
{
        padding: 0.5rem 1.5rem;
        margin: 0 1rem;
        font-size: 1.1rem;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        background: var(--color-primary);
        border-radius: 7.5px;
        border: none;
        outline: none;
        color: #fff;
        cursor:pointer;
        transition: all .2s ease-in-out;
}
.auth-btn:hover{
    color:#e8b637;
    background-color:white;
    transform: scale(1.05);
}