.search{
    display: flex;
    justify-content: flex-end;
}
.search-inputs {
    display:flex;
    padding: 0.5rem 5rem;
    justify-content: center;
    align-items: center;

    width: 40%;
}

.search-inputs input{
    padding: 0.8rem ;
    border-radius: 5px;
    outline: none;
    border:0.5px solid black;
    display: grid;
    place-items: center;
    font-size: 14px;
    text-align: left;
    width: fit-content;
    transition: all .2s ease-in-out;
   
   
}
.search-inputs input:focus{
    outline:none;
    border: none;
    background-color: rgb(245, 245, 245);
}
.search-icon{

    margin-left: 10px;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 10px;
    width: fit-content;
}
