@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

.h1 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 55px;
    padding-left: 1rem;
}

li {
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 1.4rem;
}

.serviceContainer {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 4rem;
}